//
// Main sass file, to import all styles
//

@import 'reset';

@import 'bourbon/_bourbon.scss'; // http://bourbon.io/

@import 'variables'; // colors, fonts etc...

@import "fonts";

@import 'mixins'; // custom mixins

@import 'layout'; // responsive grid and media queries

/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
  box-sizing: content-box;

	* {
		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
	}
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: #000;
	//background-color: $color-1;
}

@include MQ(L) {
	body, html {
		overflow-x: hidden;
	}
}

a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}



/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

@import "_components/_header.scss";
@import "_components/_skills.scss";
@import "_components/_works.scss";
@import "_components/fullpage.min.css";

.letter-capt {
  float: right;
  position: relative;
  font-size: 4rem;
  line-height: .7;
  font-family: $ultra;
  text-align: center;

	&::after {
      content: "";
      position: absolute;
      width: 36px;
      height: 10px;
      background: $colorBlue;
      left: 50%;
      margin-left: -18px;
      bottom: -10px;
	}
}

.grey { color: $colorGrey;}
.thin { font-weight: 300;}

.sticky:before,
.sticky:after {
  content: '';
  display: table;
}

.active .svg-plus-container {
  opacity: 1;
}
.svg-plus-container {
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 65%;
  margin-top: -5vw;
  left: 0;
  z-index: 50;
  overflow: visible;
  opacity: 0;
  transform: rotate(0deg);
  transition: opacity ease 700ms, transform ease 400ms 600ms;

  polygon {
    transition: all ease 200ms;
  }
  svg {
    cursor: pointer;
    overflow: visible;

    polyline {
      transform: translate(0,0);
      transition: all ease .2s;
    }
    &:hover polyline {
      transform: translate(5px,5px);
    }
  }
}


.section__heading {
  font-family: $ultra;
  text-transform: uppercase;
  color: #f3f4f5;
  font-size: 10rem;
  display: block;
  position: absolute;
  left: 16%;
  margin-left: -72px;
  top: 8.1vh;
  text-shadow: 1px 1px 2px $colorBlue;

  &:first-letter {
    color: #f3f4f5;
    text-shadow: 1px 1px 2px #FFF;
  }
}

.footer {
  background: #FFF;
  height: 100%;

  &__img {
    width: 45%;
    height: 100%;
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;

    & img {
      max-height: 80%;
    }
  }

  &__content {
    width: 50%;
    height: 100%;
    float: right;
    padding-top: 10%;

    h2 {
      font-size: 3rem;
      font-family: $ultra;
      margin-bottom: 25rem;
    }
    h3 {
      font-size: 2rem;
      font-family: $ultra;
      margin-bottom: 5rem;
      text-transform: uppercase;
    }

    ul {

      svg {

        &:hover {
          fill: $colorBlue;
        }
      }
    }

  }
}


















