.header {

  width: 100%;
  height: 100vh;

  h1.state__init {
    letter-spacing: -8px;
    z-index: 4;
  }

  h1,h2,h3 {
    text-transform: uppercase;
  }
  &>h1,
  &>h3 {
    font-family: $secondary-font;
    display: block;
    position: absolute;
    text-align: left;
    left: 5%;
    letter-spacing: 0;
    transition: letter-spacing .3s;

    &::after {
      content: "";
      display: inline-block;
      height: 10px;
      width: 36px;
      background: $colorBlue;
      position: relative;
    }
  }
  &>h3 {
    position: absolute;
    font-size: 1.4rem;
    line-height: .85;
    top: 5%;
    font-weight: $bold;
    text-transform: lowercase;
    color: $colorBlue;
    &::after {
      content: none;
      top: -17px;
    }
  }
  &>h1 {
    position: absolute;
    bottom: 20%;
    font-size: 3rem;
    line-height: 1.1;
    z-index: 6;
  }

  &__main {

    border: 10px solid $colorBlue;
    position: absolute;
    text-align: center;
    background: #FFF;

    height: 90%;
    width: calc(45% - 170px);

    left: calc(5% + 170px);
    top: 5%;

    z-index: 5;
    transition: all 1.5s;

    &::after {
      content: "";
      width: 10px;
      height: 50px;
      background: #000;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -5px;
    }

    &.state__init {

      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      margin: 0;

    }

    h2 {
      position: absolute;
      width: 100%;
      top: 40%;
      left: 0;
      text-align: center;
      font-family: $bold;
      font-size: 1.6rem;
    }

  }

  &__contacts {
    position: relative;
    float: right;
    width: 30%;
    margin-right: 5%;
    height: 70vh;
    margin-top: 15vh;


    h2 {
      font-family: $ultra;
      font-size: 3.1rem;
      font-weight: bold;

      .letter-capt {
        line-height: 1;
      }
    }

    &-list {

      position: absolute;
      top: 35.4%;
      width: 100%;

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 10px;
        width: 36px;
        left: 0;
        bottom: -10px;
        background: $colorBlue;
      }

      li {
        margin-bottom: 15px;
        font-family: $bold;
        font-size: 1.3rem;
        position: relative;
        width: 100%;

        a {
          color: #000;
          position: relative;

          i {
            position: absolute;
            left: -30px;
          }
        }

        &.thin {
          font-family: $regular;
          position: relative;
          margin-bottom: 50px;

          &::after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -15px;
            height: 4px;
            background: $colorBlue;
          }
        }
      }
    }

    &-btn {

      width: 100%;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      text-align: center;
      background: #000;
      color: #FFF;
      text-transform: uppercase;
      font-family: $bold;
      height: 50px;
      line-height: 50px;
      font-size: 1.6rem;
      letter-spacing: 2px;

    }

  }

}
