.works {
  position: relative;
  width: 100%;
  transform: translateX(0);
  transition: transform ease 600ms;

  &.with-story {
    transform: translateX(-45%);
  }

  &__info {

    height: 100vh;
    width: 45%;
    position: absolute;
    left: 0;
    top: 0;
    background: #f3f4f5;

    transform: translate3d(0, 0, 0);
    transition: all 700ms ease;


    @for $i from 0 through 7 {
      &__for-#{$i} {
        transform: translate3d(0, 100vh*$i, 0);

        .work__names-mask,
        .work__dates-mask,
        .work__types-mask,
        .work__role-mask {
          ul {
            transform: translateY(-100% * $i);
          }
        }
      }
    }
  }

  &__promo {

    width: 55%;
    float: right;

  }

}

.with-story {
  .work {

    img {
      transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translateX(0%) translateY(0%) scale(1);
    }
  }
}

.work {

  height: 100vh;
  width: 100%;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    box-shadow: -20px 20px 15px rgba(88,88,88,.1);
    border: 1px solid rgba(88, 88, 88, 0.1);

    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateZ(-45deg) rotateY(-10deg) translateX(10%) translateY(10%) scale(.8);
    transition: transform ease 0.6s;
  }

  //MASKS
  &__names-mask,
  &__dates-mask,
  &__types-mask,
  &__role-mask {
    ul {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateY(0);
      transition: transform ease 200ms;
    }
  }
  &__names-mask ul {
    transition-delay: 0ms;
  }
  &__dates-mask ul {
    transition-delay: 200ms;
  }
  &__types-mask ul {
    transition-delay: 400ms;
  }
  &__role-mask ul {
    transition-delay: 600ms;
  }

  &__names-mask {
    top: calc(50% - 6.6rem);
    position: absolute;
    left: 20%;
    height: 5rem;
    overflow: hidden;

    li {
      text-transform: uppercase;
      font-family: $ultra;
      font-size: 5rem;
      color: $colorBlue;
      font-weight: bold;
      height: 5rem;
      line-height: 5rem;
      white-space: nowrap;
    }
  }
  &__dates-mask {
    top: calc(50% - 1.6rem);
    position: absolute;
    left: 20%;
    height: 1.6rem;
    overflow: hidden;

    li {
      text-transform: lowercase;
      font-family: $regular;
      font-size: 1.6rem;
      color: #636363;
      height: 1.6rem;
      line-height: 1.6rem;
      white-space: nowrap;
    }
  }
  &__types-mask {
    top: calc(45% + 12rem);
    position: absolute;
    left: 20%;
    height: 1.8rem + 2rem;
    overflow: hidden;

    li {
      text-transform: uppercase;
      font-family: $bold;
      font-size: 1.8rem;
      height: 1.8rem + 2rem;
      line-height: 1.8rem;
      white-space: nowrap;
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 4rem;
        height: .8rem;
        background: #000;
        bottom: 0;
        left: 0;
      }
    }
  }
  &__role-mask {
    top: calc(45% + 25rem);
    position: absolute;
    left: 20%;
    height: 1.8rem;
    overflow: hidden;

    li {
      text-transform: uppercase;
      font-family: $regular;
      font-size: 1.8rem;
      color: $colorBlue;
      height: 1.8rem;
      line-height: 1.8rem;
      white-space: nowrap;
    }
  }

}

.works__story {

  height: 100vh;
  position: absolute;
  width: 45%;
  top: 0;
  right: -45%;

}











