.works {
  position: relative;
  width: 100%;
  transform: translateX(0);
  transition: transform ease 600ms;

  &.with-story {
    transform: translateX(-55%);
  }

  &__info {

    height: 100vh;
    width: 45%;
    position: absolute;
    left: 0;
    top: 0;

    transform: translate3d(0, 0, 0);
    transition: all 700ms ease;

    &::before {
      content: "mp.";
      position: absolute;
      display: block;
      width: 16%;
      background: $colorBlue;
      color: #FFF;
      font-family: $ultra;
      font-size: 2rem;
      line-height: 0.3;
      text-align: center;
      padding-top: 18vh;
      height: 23.5vh;
    }

    @for $i from 0 through 7 {
      &__for-#{$i} {
        transform: translate3d(0, 100vh*$i, 0);

        .work__names-mask,
        .work__dates-mask,
        .work__types-mask,
        .work__role-mask {
          ul {
            transform: translateY(-100% * $i);
          }
        }
      }
    }

    &__nav {
      height: 100vh;
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
      background: #e4e9fd;

      .nav_item {
        position: absolute;
        height: (100vh / 7);
      }

      &_name {
        color: #14228d;
        font-family: $regular;
        font-size: 2rem;
        height: 100%;
        position: absolute;
        right: 25px;

        display: flex;
        align-items: center;
      }
      &_num {
        color: #bcbcbc;
        font-family: $regular;
        font-size: 2rem;
        height: 100%;
        position: absolute;
        left: 5px;

        display: flex;
        align-items: center;
      }

      @for $i from 0 through 6 {
        &_#{$i} {
          top: (100vh / 7) * $i;
        }
      }
    }

  }

  &__promo {

    width: 45%;
    float: right;

  }

}

.with-story {
  .work {

    &__img-wrap {
      transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) translateX(0%) translateY(0%) scale(1);
    }
  }

  .works__promo {
    width: 45%;
  }

  .svg-plus-container {
    transform: rotate(-405deg);
  }
}

.work {

  height: 100vh;
  width: 100%;
  position: relative;

  &__img-wrap {

    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    box-shadow: -20px 20px 15px rgba(88, 88, 88, .1);

    display: flex;
    justify-content: center;
    align-items: flex-end;

    background: #f3f4f5;

    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateZ(-45deg) rotateY(-10deg) translateX(0) translateY(0) scale(.8);
    transition: transform ease 0.6s;

    &.center-top {
      align-items: flex-start;
    }
    &.right-bottom {
      justify-content: flex-end;
      align-items: flex-end;
    }
    &.center {
      align-items: center;
    }

    img {

    }
  }

  //MASKS
  &__names-mask,
  &__dates-mask,
  &__types-mask,
  &__role-mask {
    ul {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateY(0);
      transition: transform ease 200ms;
    }
  }
  &__names-mask ul {
    transition-delay: 0ms;
  }
  &__dates-mask ul {
    transition-delay: 200ms;
  }
  &__types-mask ul {
    transition-delay: 400ms;
  }
  &__role-mask ul {
    transition-delay: 600ms;
  }

  &__names-mask {
    top: calc(50% - 12rem);
    position: absolute;
    left: 16%;
    height: 10rem;
    overflow: hidden;

    li {
      text-transform: uppercase;
      font-family: $times;
      font-size: 6rem;
      color: $colorBlue;
      font-weight: bold;
      height: 10rem;
      line-height: 10rem;
      white-space: nowrap;
    }
  }
  &__dates-mask {
    top: calc(50% - 2rem);
    position: absolute;
    left: 16%;
    height: 2rem;
    overflow: hidden;

    li {
      text-transform: lowercase;
      font-family: $regular;
      font-size: 1.4rem;
      color: #636363;
      height: 2rem;
      line-height: 2rem;
      white-space: nowrap;
    }
  }
  &__types-mask {
    top: calc(45% + 12rem);
    position: absolute;
    left: 16%;
    height: 1.8rem + 2rem;
    overflow: hidden;

    li {
      text-transform: uppercase;
      font-family: $bold;
      font-size: 1.8rem;
      height: 1.8rem + 2rem;
      line-height: 1.8rem;
      white-space: nowrap;
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 4rem;
        height: .8rem;
        background: #000;
        bottom: 0;
        left: 0;
      }
    }
  }
  &__role-mask {
    top: calc(45% + 25rem);
    position: absolute;
    left: 16%;
    height: 1.8rem;
    overflow: hidden;

    li {
      text-transform: uppercase;
      font-family: $regular;
      font-size: 1.4rem;
      color: $colorBlue;
      height: 1.8rem;
      line-height: 1.8rem;
      white-space: nowrap;
    }
  }

}

.works__story {

  height: 100vh;
  position: absolute;
  width: 55%;
  top: 0;
  right: -55%;

  &-after {
    position: absolute;
    right: 0;
    top: 0;
    height: 23.5vh;
    padding-top: 14vh;
    background: $colorBlue;
    width: 13.5%;
    text-align: center;
    color: #FFF;
    font-size: 5rem;
    font-family: $times;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-format {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 14vh 13.5%;
  }

  &-name {
    font-size: 5rem;
    font-family: $times;
    font-weight: bold;
    color: $colorBlue;
    text-transform: uppercase;
    margin-bottom: 15vh;
  }
  &-date {
    font-size: 1.6rem;
    font-family: $regular;
    color: #636363;
    margin-bottom: 3vh;
    display: block;
    width: 100%;
  }

  h3 {
    height: 10rem;
    line-height: 10rem;
    font-family: $bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    border-bottom: 5px solid $colorBlue;
    margin-bottom: 7rem;
  }

  p {
    font-family: $regular;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 4rem;
  }

  ul {
    margin-bottom: 4rem;
  }

  li {
    font-family: $regular;
    font-size: 1.4rem;
    line-height: 1.5;
    position: relative;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .black {
    font-family: $bold;
  }
  .blue {
    color: $colorBlue;
  }

}











