.works {
  position: relative;
  overflow: hidden;
  width: 100%;

  &__info {

    height: 100vh;
    width: 45%;
    position: absolute;
    left: 0;
    top: 0;
    background: #f3f4f5;
  }

  &__promo {

    width: 55%;
    float: right;

  }



}

.work {

  height: 100vh;
  width: 100%;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    box-shadow: -20px 20px 15px rgba(88,88,88,.1);
    border: 1px solid rgba(88, 88, 88, 0.1);

    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateZ(-45deg) rotateY(-10deg) translateX(10%) translateY(10%) scale(.8);
    transition: transform 0.6s;
  }

  //MASKS
  &__names-mask {
    top: calc(50% - 6.6rem);
    position: absolute;
    left: 20%;
    height: 5rem;
    overflow: hidden;

    li {
      text-transform: uppercase;
      font-family: $ultra;
      font-size: 5rem;
      color: $colorBlue;
      font-weight: bold;
      height: 5rem;
      line-height: 5rem;
    }
  }
  &__dates-mask {
    top: calc(50% - 1.6rem);
    position: absolute;
    left: 20%;
    height: 1.6rem;
    overflow: hidden;

    li {
      text-transform: lowercase;
      font-family: $regular;
      font-size: 1.6rem;
      color: #636363;
      height: 1.6rem;
      line-height: 1.6rem;
    }
  }
  &__types-mask {
    top: calc(45% + 12rem);
    position: absolute;
    left: 20%;
    height: 1.8rem + 2rem;
    overflow: hidden;

    li {
      text-transform: uppercase;
      font-family: $bold;
      font-size: 1.8rem;
      height: 1.8rem + 2rem;
      line-height: 1.8rem;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 4rem;
        height: .8rem;
        background: #000;
        bottom: 0;
        left: 0;
      }
    }
  }
  &__role-mask {
    top: calc(45% + 25rem);
    position: absolute;
    left: 20%;
    height: 1.8rem;
    overflow: hidden;

    li {
      text-transform: uppercase;
      font-family: $regular;
      font-size: 1.8rem;
      color: $colorBlue;
      height: 1.8rem;
      line-height: 1.8rem;
    }
  }

}
